

<!DOCTYPE html>
<meta charset="UTF-8">

<html>

<style>
    #color_title {
        color: #251200;
    }
    
    #color_axes {
        color: #000000;
    }
    
    #color_temp {
        color: #ad5502;
    }
    #color_heater {
        color: #aa0000;
    }
    
    #color_fan {
        color: #0c073f;
    }
</style>

<head>
    <script src = "js/canvas_plotting.js"></script>
</head>
<body>

    <canvas id="plotCanvas" style="border:1px solid #000000; display: block; margin: auto;">
    </canvas>
    <br>

    <div id = "buttons" style = "width : 300px; display:  flex; justify-content: center; flex-direction: column; margin: auto;"> 
        <button id = 'load'>load profile</button> 
        <div style="display:flex; justify-content:center;">   
            <button id = 'start'>start</button>
            <button id = 'stop'>stop</button>
        </div>
        <input type ="file" id="upload_profile" style="display:none;">
    </div>
    <div id = "notes"></div>
    <div id = "create" style="display:flex; justify-content:center;">
        <button onclick= "window.location.href='/create'" id = 'redir'> create or edit profile </button>
    </div>

    <div id = "color_title"></div>
    <div id = "color_axes"></div>
    <div id = "color_temp"></div>
    <div id = "color_heater"></div>
    <div id = "color_fan"></div>

    <script src="js/realtime_plot.js"></script>

    

</body>
</html>

